.login {
   font-size: 14px;
}

@media only screen and (min-width: 768px) {
   .login-box-md {
      width: 370px !important;
   }
}

.btn-rounded {
   border-radius: 3rem;
}

.logo {
   width: 120px;
   height: auto;
}

.legal {
   bottom: 1rem;
}

.bg {
   background: rgb(182, 26, 96);
   background: linear-gradient(90deg, rgba(182, 26, 96, 1) 0%, rgba(245, 133, 89, 1) 100%);
}

.bg-hover {
   background: rgb(182, 26, 96);
   background: linear-gradient(90deg, rgba(182, 26, 96, 1) 0%, rgba(245, 133, 89, 1) 100%);
   transition: background ease 0.3s;
}

.bg-hover:hover {
   background: rgb(164, 23, 86);
   background: linear-gradient(90deg, rgba(164, 23, 86, 1) 0%, rgba(221, 120, 80, 1) 100%);
   transition: background ease 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}
